.main-footer {
  width: 1164px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #000000;
  box-sizing: border-box;
}

.contenedor-info {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.columna-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.titulo-footer {
  font-family: var(--body-strong-font-family);
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.lista-footer {
  font-family: var(--body-strong-font-family);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.acciones-footer {
  display: grid;
  grid-template-columns: auto 180px; 
  column-gap: 40px;
  row-gap: 20px;
  width: 450px;
}

.metodos-pago {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.metodos-pago img {
  width: 168px;
  height: auto;
}

.selectores {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -10px;
  gap: 12px;
}

.selector-personalizado {
  width: 161px;
  height: 39px;
  background-color: #F3F3F3;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  position: relative;
  cursor: pointer;
}

.selector-personalizado span {
  font-size: 13px;
  font-family: sans-serif;
}

.redes-sociales {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconos-sociales {
  display: flex;
  gap: 15px;   
  align-items: center;
}

.iconos-sociales a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.iconos-sociales a:nth-child(1):hover {
  background-color: #000000;
}

.iconos-sociales a:nth-child(2):hover {
  background-color: #E1306C;
}

.iconos-sociales a:nth-child(3):hover {
  background-color: #FF0000;
}

.iconos-sociales a:nth-child(4):hover {
  background-color: #0077B5;
}

.iconos-sociales a:hover img {
  filter: brightness(0) invert(1);
  transform: scale(1.1);
}

.iconos-sociales img {
  width: 24px;
  height: 24px;
  display: block;
  transition: all 0.3s ease;
}

.main-footer a {
    color: inherit;
    text-decoration: none;
}

.selector-personalizado .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 10;
}

.selector-personalizado .dropdown li {
    padding: 10px;
    font-size: 14px;
    color: #000;
    list-style: none;
}

.selector-personalizado .dropdown li:hover {
    background-color: #f0f0f0;
}

.selector-personalizado:hover .dropdown {
    display: block;
}