.box {
  width: 1480px;
  height: auto;
  margin: auto;
  position: relative;
}

.box .header {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: transparent;
  border-radius: 5px;
  border-top-style: none;
  border-right-style: none;
}

.box .empresa {
  margin-top: 9.0px;
  width: 105px;
  height: 40px;
  margin-left: -1px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.box .navegador {
  width: 809px;
  height: 56px;
  position: relative;
  margin-left: 120px;
  border: 1px solid;
  border-color: #000000;
  cursor: text;
}

.box .icono {
  position: absolute;
  width: 2.22%;
  height: 32.14%;
  top: 33.93%;
  left: 2.60%;
}

.box .linea {
  position: absolute;
  top: 0;
  left: 54px;
  width: 1px;
  height: 56px;
  object-fit: cover;
}

.box .buscar {
  position: absolute;
  top: 8px;
  left: 80px;
  width: 100px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 40px;
}

.box .simbolos {
  margin-top: 6.0px;
  width: 194px;
  height: 48px;
  position: relative;
  margin-left: 76px;
}

.box .cuenta {
  position: absolute;
  width: 16.49%;
  height: 75.00%;
  top: 8.33%;
  left: 3.09%;
}

.box .cesta {
  position: absolute;
  width: 22.68%;
  height: 87.50%;
  top: 0;
  left: 37.63%;
}

.box .deseados {
  position: absolute;
  width: 21.55%;
  height: 75.97%;
  top: 8.33%;
  left: 75.82%;
}

.box .categorias-boton {
  width: 41px;
  height: 40px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.box .text {
  width: 40px;
  height: 40px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.box .default-GRANDE {
  height: 218px;
  display: flex;
  flex-direction: column;
  gap: 76px;
  border-bottom-width: 2px;
  margin-left: 20px;
  width: auto;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-color: #000000;
}

.box .principal-2 {
  margin-left: 59px;
  margin-top: 42px;
  width: 1303px;
  height: 60px;
  display: flex;
}

.box .categorias_grande {
  margin-left: 59px;
  width: 1303px;
  display: flex;
  gap: 44.8px;
}

.header .empresa:hover { opacity: 0.6; }
.header .categorias-boton:hover { opacity: 0.6; }
.header .text:hover { opacity: 0.6; }
.header .deseados:hover { opacity: 0.6; }
.header .cesta:hover { opacity: 0.6; }
.header .cuenta:hover { opacity: 0.6; }

#categorias {
  display: none;
  position: absolute;
  top: 218px;
  left: 20px;
  z-index: 1000;
}

.box .navegador form {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.box .buscar-input {
  position: absolute;
  top: 0;
  left: 65px;
  width: calc(100% - 75px);
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
}

.box .buscar-input::placeholder {
  color: #888;
  opacity: 1;
}

.box .simbolos {
  position: relative;
}

.user-popup-content {
  display: none;
  position: absolute;
  top: 55px;
  left: -20px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  z-index: 2000;
  flex-direction: column;
  gap: 10px;
}

.user-popup-content.show {
  display: flex;
}

.popup-user-name {
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  margin: 0;
}

.popup-link {
  text-decoration: none;
  color: black;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 13px;
}

.popup-link:hover {
  text-decoration: underline;
}

.logout-button {
  background-color: #000;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 12px;
  margin-top: 5px;
}
