.home {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: #ffffff;
}

.home .div {
  width: 40px;
  height: 40px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.home .scroll-vertical {
  margin-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home .carrucel {
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding: 20px;
  box-sizing: border-box;
}

.home .animation-container {
  display: flex;
  gap: 58px;
  justify-content: center;
  animation: spin 30s linear infinite;
  padding-right: 58px;
}

.home .foto {
  width: 770px;
  height: 386px;
  background-color: #acacac;
  flex: 0 0 auto;
}

.home .foto:active { transform: scale(0.97); }

@keyframes spin {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

.home .foto:hover {
  opacity: 0.8;
}

.home .galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
  max-height: 1280px;
  overflow-y: auto;
  margin: auto;
}

.home ::-webkit-scrollbar {
  width: 0;
  display: none;
}