.HOME {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: #ffffff;
}

.HOME .div {
  width: 40px;
  height: 40px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.HOME .scroll-vertical {
  margin-left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.HOME .carrucel {
  width: 100%;
  display: flex;
  gap: 58px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  cursor: grab;
  user-select: none;
  padding: 20px;
  box-sizing: border-box;
}

.HOME .foto {
  width: 770px;
  height: 386px;
  background-color: #acacac;
  flex-shrink: 0;
  flex-grow: 0;
}

.HOME .flechas {
  margin: auto;
  width: 116px;
  height: 47px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 15px;
}

.HOME .icon_izq {
  position: absolute;
  width: 10.42%;
  height: 41.67%;
  top: 29.17%;
  left: 18.75%;
  cursor: pointer;
  transition: opacity 0.3s;
}

.HOME .icon_izq:hover {
  opacity: 0.7;
}

.HOME .icon_der {
  position: absolute;
  width: 10.42%;
  height: 41.67%;
  top: 29.17%;
  left: 70.83%;
  cursor: pointer;
  transition: opacity 0.3s;
}

.HOME .icon_der:hover {
  opacity: 0.7;
}

.HOME .galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
  max-height: 1280px;
  overflow-y: auto;
  margin: auto;
}

.HOME ::-webkit-scrollbar {
  width: 0;
  display: none;
}