.INFORMACION {
  max-width: 1440px;
  margin: 0 auto;
  background: var(--color-background-default-default);
  color: var(--color-text-default-default);
  font-family: var(--body-base-font-family);
}

.contenido {
  max-width: 1265px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding-bottom: 40px;
}

.titulo-principal {
  margin: 0;
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: var(--color-text-default-default);
}

.bloque-texto {
  background: var(--color-background-disabled-default);
  padding: 42px 56px;
}

.bloque-texto p {
  margin: 0;
  text-align: center;
  font-family: var(--body-base-font-family);
  font-size: 22px;
  line-height: 1.5;
  color: var(--color-text-default-default);
}

.tarjetas {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.tarjeta {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.tarjeta-img {
  width: min(340px, 100%);
  aspect-ratio: 1 / 1;
  background: var(--color-background-disabled-default);
}

.tarjeta-txt {
  font-size: 44px;
  font-weight: 400;
  color: var(--color-text-default-default);
  font-family: var(--body-base-font-family);
}

.bloque-destacado {
  background: var(--color-background-disabled-default);
  padding: var(--size-space-600);
  display: flex;
  gap: var(--size-space-600);
  align-items: flex-start;
}

.destacado-img {
  width: 260px;
  aspect-ratio: 1 / 1;
  height: auto;
  background: var(--color-primitives-gray-700);
  flex: 0 0 auto;
}

.destacado-txt h2 {
  margin: 0 0 12px;
  font-size: 48px;
  font-weight: 800;
  color: var(--color-text-default-default);
  font-family: var(--body-base-font-family);
}

.destacado-txt p {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-text-default-default);
  font-family: var(--body-base-font-family);
  flex: 1;
}

@media (max-width: 1024px) {
  .tarjetas {
    gap: 32px;
  }

  .tarjeta-txt {
    font-size: 36px;
  }
}

@media (max-width: 820px) {
  .bloque-texto {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto; /* centrado */
  }

  .bloque-texto p {
    font-size: 18px;
  }

  .tarjetas {
    flex-direction: column;
    gap: 42px;
  }

  .bloque-destacado {
    flex-direction: column;
    align-items: flex-start;
  }

  .destacado-img {
    width: 100%;
    height: 240px;
  }
}