.producto {
  position: relative;
  width: 261px;
  height: 384px;
}

.producto:hover {
  border: 1px solid #1e1e1e;
  border-radius: var(--size-radius-200);
}

.producto:active {
  transform: scale(0.97);
}

.producto .informacion-producto {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-space-400);
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.producto .image {
  margin-left: 16px;
  width: 229px;
  height: 247px;
  margin-top: 16px;
  background-color: var(--color-background-disabled-default);
}

.producto .body {
  margin-left: 16px;
  width: 208px;
  height: 52px;
  display: flex;
  flex-direction: column;
  gap: var(--size-space-200);
}

.producto .descripcion {
  height: 22px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.producto .precio {
  width: 48px;
  height: 28px;
  font-family: "Inter-SemiBold", Helvetica;
  color: var(--color-text-default-default);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28.0px;
  white-space: nowrap;
  display: inline-flex;
  align-items: baseline;
  gap: 2px;
}

.producto .texto {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 20px;
  line-height: 28.0px;
}

.producto .span {
  font-size: 16px;
  line-height: 22.4px;
}

.producto .texto-2 {
  font-size: 14px;
  line-height: 19.6px;
}

.producto .simbolos {
  position: absolute;
  width: 223px;
  height: 36px;
  top: 335px;
  left: 18px;
}

.producto .sumar-a-deseados {
  position: absolute;
  width: 18.75%;
  height: 95.02%;
  top: 0;
  left: 81.25%;
}

.producto .sumar {
  position: absolute;
  width: 29.36%;
  height: 34.94%;
  top: -4.37%;
  left: 67.05%;
}

.producto .deseados {
  position: absolute;
  width: 72.55%;
  height: 75.31%;
  top: 20.32%;
  left: -3.59%;
}

.producto .sumar-a-la-cesta {
  position: absolute;
  width: 19.80%;
  height: 98.00%;
  top: 0;
  left: 57.72%;
}

.producto .compra {
  position: absolute;
  width: 69.59%;
  height: 84.10%;
  top: 11.66%;
  left: -3.40%;
}

.producto .valoracion {
  position: absolute;
  width: 116px;
  height: 19px;
  top: 15px;
  left: 0;
}

.producto .sumar-a-deseados:hover {
  opacity: 0.8;
}

.producto .sumar-a-la-cesta:hover {
  opacity: 0.8;
}