.similares {
  margin-top: 24px;
}

.similares-titulo {
  margin: 0 0 16px;
  font-size: 34px;
  font-weight: 800;
  color: #111;
}

.carousel-horizontal {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 12px;
  align-items: center;
}

.c-btn {
  border: 1px solid #d7d7d7;
  background: #fff;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  user-select: none;
}
.c-btn:active {
  transform: scale(0.98);
}

.similares-track {
  overflow-x: auto;
  display: flex;
  gap: 30px;
  padding: 10px 2px 14px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none;
}
.similares-track::-webkit-scrollbar {
  display: none;
}

.similares-track .PRODUCTO {
  flex: 0 0 auto;
  scroll-snap-align: start;
}