@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:host {
    font-family: 'Inter', sans-serif;
    display: block;
}

.scroll-orders-container {
    max-height: 600px;
    overflow-y: auto;
    padding-right: 10px;
}

.scroll-orders-container::-webkit-scrollbar {
    width: 6px;
}
.scroll-orders-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.form-select:focus {
    box-shadow: none;
    border-color: #000;
}