<ion-header [translucent]="true">
  <app-header-grande></app-header-grande>
</ion-header>

<ion-content [fullscreen]="true">
  <main class="pedidos-wrapper">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="10" size-lg="8">
          
          <ion-item lines="none" class="filter-item border border-dark mb-4 p-0">
            <ion-select 
              label="Filtro:" 
              label-placement="start"
              interface="popover"
              [(ngModel)]="filterStatus" 
              (ionChange)="applyFilter()"
              class="fw-bold fw-uppercase w-100 px-2"
              justify="space-between"
            >
              <ion-select-option value="Todos">Todos los pedidos</ion-select-option>
              <ion-select-option value="En envío">En envío</ion-select-option>
              <ion-select-option value="En ruta de entrega">En ruta de entrega</ion-select-option>
              <ion-select-option value="Entregado">Entregado</ion-select-option>
            </ion-select>
          </ion-item>

          <div class="scroll-orders-container mb-5">
            <app-item-comprado 
              *ngFor="let order of filteredOrders" 
              [item]="order">
            </app-item-comprado>
            
            <div *ngIf="filteredOrders.length === 0" class="empty-state py-5 text-center border">
              <p class="text-muted m-0">No se encontraron pedidos con el estado: {{ filterStatus }}</p>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding-top">
      <app-similares></app-similares>
    </div>

    <app-footer></app-footer>
  </main>
</ion-content>