.pedidos-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.filter-item {
  --background: #f8f9fa;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .scroll-orders-container {
    max-height: 600px;
    overflow-y: auto;
    padding-right: 10px;
  }
  .scroll-orders-container::-webkit-scrollbar {
    width: 6px;
  }
  .scroll-orders-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }
}