:root {
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-weight: 400;
  --body-base-font-size: 16px;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --body-base-font-style: normal;
  --ESTADO-REGISTRARSE: none;
  --ESTADO-showbutton: initial;
  --ESTADO-showtext: none;
  --COLORES-color: rgba(179, 179, 179, 1);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-background-disabled-default: var(--color-primitives-gray-300);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-gray-300: rgba(217, 217, 217, 1);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --color-primitives-gray-700: rgba(56, 56, 56, 1);
  --color-primitives-gray-600: rgba(68, 68, 68, 1);
  --size-space-200: 8px;
  --size-space-400: 16px;
  --size-radius-200: 8px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-COLORES-mode="registrado">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-COLORES-mode="registrado"] {
  --COLORES-color: rgba(30, 30, 30, 1);
}

[data-COLORES-mode="no-registrado"] {
  --COLORES-color: rgba(179, 179, 179, 1);
}

[data-color-mode="SDS-light"] {
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-background-disabled-default: var(--color-primitives-gray-300);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-border-default-default: var(--color-primitives-gray-300);
}

[data-color-mode="SDS-dark"] {
  --color-text-default-default: var(--color-primitives-white-1000);
  --color-background-disabled-default: var(--color-primitives-gray-700);
  --color-background-default-default: var(--color-primitives-gray-900);
  --color-border-default-default: var(--color-primitives-gray-600);
}