<ion-header [translucent]="true">
  <app-header-grande></app-header-grande>
</ion-header>

<ion-content [fullscreen]="true">
  <main class="deseados-wrapper">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="10" size-lg="8">
          
          <div class="scroll-wanted-container">
            <app-item-wanted 
              *ngFor="let item of wantedItems" 
              [item]="item"
              (remove)="eliminarDeDeseados(item.id)">
            </app-item-wanted>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding-top">
      <app-similares></app-similares>
    </div>
    
    <app-footer></app-footer>
  </main>
</ion-content>