.comentario {
  max-width: 701px;
  transition: border 0.2s ease, transform 0.1s ease;
  border-radius: 0; 
}

.comentario:hover {
  border: 1px solid #1e1e1e !important;
  border-radius: 8px;
}

.comentario:active {
  transform: scale(0.98);
}

.icon-btn {
  transition: opacity 0.2s;
}

.icon-btn:hover {
  opacity: 0.6;
}

.texto {
  word-wrap: break-word;
  font-family: 'Inter', sans-serif;
}

.transition-comentario {
  transition: background-color 0.3s ease;
}

.comentario:hover {
  background-color: #fcfcfc;
}

.btn-interaction {
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-interaction:hover {
  transform: scale(1.2);
  color: #000 !important;
}

.btn-interaction:active {
  transform: scale(0.9);
}

.btn-interaction .bi-hand-thumbs-up-fill {
  color: #0d6efd;
}