<ion-card class="card-pedido-ionic">
  <div class="card-content-flex">
    
    <ion-checkbox 
      [(ngModel)]="item.selected" 
      color="dark" 
      mode="md"
      class="check-pedido">
    </ion-checkbox>

    <div class="img-box border">
      <img *ngIf="item.img" [src]="item.img" [alt]="item.name" class="img-fluid">
    </div>

    <div class="info-box">
      <h5 class="item-name">{{ item.name }}</h5>
      <p class="item-opts">{{ item.opts }}</p>
      <h3 class="item-price">{{ item.price | currency:'EUR' }}</h3>
    </div>

    <div class="status-box text-end">
      <h4 class="status-label">Estado:</h4>
      <p class="status-text fw-bold" 
         [ngClass]="{
           'text-primary': item.status === 'En envío',
           'text-warning': item.status === 'En ruta de entrega',
           'text-success': item.status === 'Entregado'
         }">
        {{ item.status }}
      </p>
    </div>

  </div>
</ion-card>