<ion-card class="card-deseado-ionic">
  <ion-button fill="clear" color="danger" class="btn-remove" (click)="onRemove()">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>

  <div class="card-content-flex">
    <div class="img-box">
      <img [src]="item.img" [alt]="item.name" />
    </div>

    <div class="info-box">
      <ion-label>
        <h2 class="item-name">{{ item.name }}</h2>
        <p class="item-opts">{{ item.opts }}</p>
        <h3 class="item-price">{{ item.price | currency:'EUR' }}</h3>
      </ion-label>
    </div>

    <div class="action-box">
      <ion-button 
        [color]="item.added ? 'success' : 'dark'" 
        class="btn-toggle-cesta"
        (click)="toggleAdd()">
        <ion-icon slot="start" [name]="item.added ? 'checkmark-outline' : 'cart-outline'"></ion-icon>
        {{ item.added ? 'Añadido' : 'Añadir' }}
      </ion-button>
    </div>
  </div>
</ion-card>