<app-header-grande></app-header-grande>

<ion-content class="ion-padding-top">
  <main class="main-wrapper">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        
        <!-- Lista de productos -->
        <ion-col size="12" size-lg="7">
          <div class="scroll-container"> 
            <app-item-card 
              *ngFor="let item of cartItems" 
              [item]="item" 
              (selectionChange)="updateTotal()"
              (deleteItem)="eliminarDelCarrito($event)"
              >
            </app-item-card>
          </div>
        </ion-col>

        <!-- Resumen de compra -->
        <ion-col size="12" size-lg="4" class="ion-margin-top">
          <ion-card class="resumen-card">
            <h1 class="total-label">Precio total</h1>
            
            <div class="total-amount-container">
              
              <span class="total-value">{{ total | number:'1.2-2' }}</span>
              
              <span class="period-text">/ €</span>
            </div>

            <ion-button (click)="irAPagar()" expand="block" class="btn-comprar">
              Comprar
            </ion-button>

            <div class="metodos-pago">
              <p class="titulo-seccion-pagos">Pagos aceptados:</p>
              <div class="cuadricula-pagos">
                  <img src="https://github.com/aaronfagan/svg-credit-card-payment-icons/raw/main/logo/visa.svg" alt="Visa">
                  <img src="https://github.com/aaronfagan/svg-credit-card-payment-icons/raw/main/logo/mastercard.svg" alt="Mastercard">
                  <img src="https://github.com/aaronfagan/svg-credit-card-payment-icons/raw/main/logo/maestro.svg" alt="Maestro">
                  <img src="https://github.com/aaronfagan/svg-credit-card-payment-icons/raw/main/logo/amex.svg" alt="American Express">
                  <img src="https://github.com/aaronfagan/svg-credit-card-payment-icons/raw/main/logo/paypal.svg" alt="Paypal">
              </div>
            </div>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <div class="ion-padding">
      <app-similares></app-similares>
    </div>
    
    <app-footer></app-footer>
  </main>
</ion-content>