<app-header-corto></app-header-corto>

<main class="articulo-seleccionado">
  @if (producto) {
    <article class="contenedor-principal">
      
      <div class="seccion-valoraciones">
        <div class="resumen-valoracion">
          <img class="estrellas-usuario" src="assets/img/estrellas_vacias.svg" alt="Valorar" />
          <div class="nombre-usuario">Valorar ahora</div>
          
          <div class="barra-grupo" *ngFor="let n of [1,2,3,4,5]">
            <img class="icono-estrella" src="assets/img/estrella.svg" alt="Estrella"/>
            <div class="fondo-barra"></div>
            <div class="progreso-barra" [style.width.%]="20"></div>
            <div class="porcentaje-texto">20%</div>
            <div class="nivel-numero">{{ n }}</div>
          </div>

          <div class="conteo-valoraciones">Valoraciones totales ({{producto.Votos}})</div>
          <img class="puntuacion-total" [src]="'assets' + producto.Valoracion[0].url" alt="Puntuación"/>
        </div>

        <div class="listado-comentarios">
          @for (com of listaComentarios; track com.id) {
            <app-comentario [data]="com"></app-comentario>
          }
        </div>
      </div>

      <div class="titulo-galeria">Puede interesarte</div>
      <div class="galeria-relacionados">
        @for (rel of productosRelacionados; track rel.id) {
          <app-producto [data]="rel"></app-producto>
        }
      </div>

      <div class="informacion-producto">
        <p class="descripcion-texto">{{ producto.Descripcion_larga }}</p>
        
        <div class="opciones-seleccion">
          <div class="subtitulo-opciones">Tallas</div>
          <div class="grupo-checkbox">
            @for (talla of producto.tallasArray; track talla) {
              <label class="campo-checkbox">
                <input type="checkbox" class="input-checkbox" />
                <span>{{ talla }}</span>
              </label>
            }
          </div>
        </div>

        <img class="rating-visual" [src]="'assets' + producto.Valoracion[0].url" alt="Rating"/>
        
        <div class="boton-compra" (click)="agregarAlCarrito()">
          <div class="capa-fondo-negro"></div>
          <div class="texto-boton">Añadir a la cesta</div>
          <img class="icono-favoritos" src="assets/img/deseados.svg" />
        </div>

        <p class="precio-producto">
          <span class="entero">{{ precioEntero }}</span>
          <span class="decimal">.{{ precioDecimal }}€</span>
        </p>

        <p class="nombre-principal">{{ producto.Descripcion }}</p>
      </div>

      <img class="miniatura-extra-1" src="assets/img/rectangle.svg" alt="Imagen"/>
      <img class="miniatura-extra-2" src="assets/img/rectangle.svg" alt="Imagen"/>
      <img class="miniatura-extra-3" src="assets/img/rectangle.svg" alt="Imagen"/>
      <div class="etiqueta-lorem">Colores</div>

      <div class="seccion-imagenes">
        <img class="imagen-principal" [src]="'assets' + imagenMostrada" alt="Imagen principal"/>
        <div class="galeria-miniaturas">
          @for (img of producto.miniaturas; track img.url) {
            <img class="miniatura" 
                 [src]="'assets' + img.url" 
                 (click)="cambiarImagen('assets' + img.url)" />
          }
        </div>
      </div>

    </article>
  } @else {
    <p>Cargando producto...</p>
  }
</main>

<app-footer></app-footer>